<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>College Admission Form</title>
        <link rel="stylesheet" href= "./css/sapp.css">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <style>
            body{
  height: 100vh;
  padding: 10px;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:#1b1b1b;
  }

/*   hr{
    width: 50%;
    align-self: center;
    border: 1px solid;
  } */
  table{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif; 
    color:black; 
    font-size: 13pt; 
    font-style: normal;
    text-align: center;
    background-color: white; 
    border-collapse: collapse; 
    border: 2px solid #1b1b1b;
  }

  table td,th{
    border: 0px;
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
  }

  th,td{
    height: 40px;
  }
.container{
  border: 1.5px #333 solid;
  margin-top: 10px;
  max-width: 200px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.select-menu{
  width: 200px;
  margin: 25px auto;
}
.select-menu .select-btn{
  border: 1.5px #333 solid;
  display: flex;
  height: 4px;
  background: #fff;
  padding: 20px;
  font-size: 19px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 25px;
  transition: 0.3s;
}
.select-menu.active .select-btn i{
  transform: rotate(-180deg);
}
.select-menu .options{
  border: 1.5px #333 solid;
  position: relative;
  padding: 0px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  display: none;
}
.select-menu.active .options{
  display: block;
}
.options .option{
  display: flex;
  height: 50px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.options .option:hover{
  background: #F2F2F2;
}
.option i{
  font-size: 25px;
  margin-right: 12px;
}
.option .option-text{
  font-size: 18px;
  color: #333;
}
form .button{
  height: 45px;
  margin: 35px 0
}
form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgb(52, 153, 52);
}
form .button input:hover{
 /* transform: scale(0.99); */
 background: rgb(52, 153, 52);
 }


        </style>
        
    </head>
    <body>
        <h1>Student Admission Form</h1>
            
                <table style='width:100%'>
                    <tr>
                        <th>First Name:</th>
                            <td>{{firstname}}</td>
                    </tr>
                    <tr>
                        <th>Last Name:</th>
                            <td>{{lastname}}</td>
                    </tr>
                    <tr>
                        <th>email:</th>
                            <td>{{email}}</td>
                    </tr>
                    <tr>
                        <th>mobile:</th>
                            <td>{{mobile}}</td>
                    </tr>
                    <tr>
                        <th>gender:</th>
                            <td>{{gender}}</td>
                    </tr>
                    <tr>
                        <th>dob:</th>
                            <td>{{dob}}</td>
                    </tr>
                    <tr>
                        <th>address:</th>
                            <td>{{address}}</td>
                    </tr>
                    <tr>
                        <th>city:</th>
                            <td>{{city}}</td>
                    </tr>
                    <tr>
                        <th>pin:</th>
                            <td>{{pin}}</td>
                    </tr>
                    <tr>
                        <th>state:</th>
                            <td>{{state}}</td>
                    </tr>
                    <tr>
                        <th>program:</th>
                            <td>{{program}}</td>
                    </tr>
                    <tr>
                        <th>specialization:</th>
                            <td>{{specialization}}</td>
                    </tr>
                </table>
                <form action="/viewstudentapp" method="POST">
                  <div class="container">
                      <div class="select-menu">
                          <div class="select-btn">
                              <span class="sBtn-text" name="statusval">Select one</span>
                              <i class="bx bx-chevron-down"></i>
                          </div>
                  
                          <ul class="options">
                              <li class="option">
                                  <span class="option-text">Selected</span>
                              </li>
                          </ul>
                      </div>
                          <div class="button">
                            <input type="submit" value="Register">
                          </div>
                      </div>
                </form>
                <script>
                    const optionMenu = document.querySelector(".select-menu"),
                    selectBtn = optionMenu.querySelector(".select-btn"),
                    options = optionMenu.querySelectorAll(".option"),
                    sBtn_text = optionMenu.querySelector(".sBtn-text");
                
                    selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));       
                    
                    options.forEach(option =>{
                        option.addEventListener("click", ()=>{
                            let selectedOption = option.querySelector(".option-text").innerText;
                            sBtn_text.innerText = selectedOption;
                    
                            optionMenu.classList.remove("active");
                        });
                    });
        
                </script>

        </body>
</html>
